.label {
  font-size: 1rem;
  font-weight: 600;
}

.radioOuterWrap {
  display: flex;
  flex-direction: column;
}

.radioWrap {
  margin-top: 1rem;
  display: flex;
  width: 10rem;
  justify-content: space-between;
}

.radioWrap div {
  width: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
