.wrap {
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.labelStyle {
  font-size: 0.83rem;
  font-weight: 500;
  line-height: 1.138rem;
  margin-top: 0.4rem;
}

.inputStyle {
  border-radius: 8px;
  border: 1px solid rgba(26, 16, 0, 0.1);
  padding-left: 10px;
}

.inputStyle ::placeholder {
  width: 113px;
  font-size: 13px;
  line-height: 18.2px;
  font-weight: 400;
  color: rgba(26, 16, 0, 0.1);
}
.height {
  height: 79px;
}

.errorStyle {
  border: 1px solid red;
}
