.Toastify__toast--warning {
    background: black !important;
    display: flex;
    justify-content: center;
    font-size: 1.2rem !important;
    border-radius: 2rem !important;
  }
  .Toastify__toast-body {   
   padding: 0.7rem !important;
    line-height: 20px;
  
  } 
  .Toastify__toast > button>  svg {
   margin-top: 0.4rem;
   margin-right: 0.5rem;
   background-color: aliceblue;
   color: black;
   width: 2rem;
   height: 2rem;
   padding: 0.3rem;
   border-radius: 1rem;
   
  }

 
 
